torch>=2.0.1
torchaudio
numpy
pandas
scipy
soundfile
ml_collections
tqdm
segmentation_models_pytorch==0.3.3
timm==0.9.2
audiomentations
pedalboard
omegaconf
beartype
rotary_embedding_torch
einops
librosa
demucs==4.0.0
transformers~=4.35.0
torchmetrics==0.11.4
spafe==0.3.2
protobuf==3.20.3
torch_audiomentations
asteroid==0.7.0
auraloss
torchseg
bitsandbytes
wandb
accelerate
huggingface-hub>=0.23.0
prodigyopt
torch_log_wmse
loralib
pyaudio
wxpython==4.2.2
keyboard
matplotlib
hyper_connections==0.1.11
sageattention==1.0.6
pytorch_optimizer
numpy==1.24.4

